
.footer-list ul li svg {
    position: relative;
    z-index: 0;
    color: #ffff;
    font-size: 16px;
  }
  .footer-list ul li svg::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: #292929;
    border-radius: 50%;
    z-index: -1;
    left: -13px;
    bottom: -12px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .footer-list ul li svg:hover.footer-list svg::after {
    background: #9c9c9c;
    z-index: -1;
  }
  .footer-list {
    background: #121212;
    padding: 20px;
  }
  .footer-list h3 {
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
  }
  .footer-list ul {
    padding: 0 10px;
  }
  .footer-list ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #a7a7a7;
    padding-bottom: 10px;
    transition: 0.3s all;
  }
  .footer-list ul li a:hover {
    text-decoration: underline;
  }