.header {
    grid-area: header;
    background: #111111;
    padding: 10px 20px;
  }
  .header-left svg {
    color: #a7a7a7;
    cursor: not-allowed;
  }
  .header-right span {
    font-size: 14px;
    color: #a7a7a7;
    font-weight: 700;
    cursor: not-allowed;
  }
  