
.music-container {
    margin-top: 10px;
    overflow-y: scroll;
    height: 413px;
  
    border-radius: 10px;
  }
  
  
  
  .music-item {
    background: #121212;
    padding: 20px;
  }
  .music-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: revert;
  }
  
  .music-list {
    background: #181818;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 5px;
  }
  
  .music-list:hover {
    background: #282828;
  }
  .music-area h3,
  .PLaylist-area h3 {
    font-size: 16px;
    font-weight: 700;
    color: #ffff;
  }
  .music-area p,
  .PLaylist-area p {
    font-size: 14px;
    font-weight: 500;
    color: #a7a7a7;
  }
  .music-head {
    padding: 20px 20px 5px 20px;
    background: linear-gradient(180deg, #1e1e1e, #111111);
  }
  .music-head h3 {
    font-size: 25px;
    font-weight: 700;
    color: #ffff;
  }
  .music-head a {
    font-size: 14px;
    font-weight: 700;
  
    text-decoration: none;
    transition: 0.4s all;
    color: #a7a7a7;
  }
  .music-head a:hover {
    text-decoration: underline;
  }
  
  .Playmusic-item {
    background: #121212;
    padding: 20px;
  }
  .PLayList-items {
    background: #181818;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 5px;
  }
  
  .PLayList-items:hover {
    background: #282828;
  }
  
  .music-area {
    position: relative;
    z-index: 0;
    transition: all 0.3s;
  }
  
  .music-area::after {
    position: absolute;
    content: "\f144";
    font-family: FontAwesome;
    visibility: hidden;
    color: green;
    font-size: 50px;
    right: 22px;
    text-align: center;
    bottom: 40%;
    right: 20px;
    transition: all 0.4s;
    z-index: 999;
  }
  
  .music-area:hover.music-area::after {
    transform: translateY(-5px);
    visibility: visible;
  }
  