.Search-image {
    overflow-y: scroll;
    height: 422px;
    color: #ffff;
    border-radius: 5px;
    /* margin-bottom: 20px; */
    /* padding: 0px 0px 20px 0; */
  }
  
  .Layout {
    margin-top: 10px;
  }
  
  .card-details {
    background: #242424;
    padding: 10px 30px 20px 30px;
  }
  .card {
    overflow: hidden;
  }
  .card-img-top {
    width: 100%;
    height: 150px;
  }
  
  .content-1 {
    background: #27856a;
  }
  .content-2 {
    background: #1e3264;
  }
  .content-3 {
    background: #ffc864;
  }
  .content-4 {
    background: #8d67ab;
  }
  .content-5 {
    background: #ba5d07;
  }
  .content-6 {
    background: #eb1e32;
  }
  .content-7 {
    background: #f037a5;
  }
  .content-8 {
    background: #8d67ab;
  }
  .content-9 {
    background: #7358ff;
  }
  .content-10 {
    background: #e8115b;
  }
  .content-11 {
    background: #8d67ab;
  }
  .content-12 {
    background: #1e3264;
  }
  .content-13 {
    background: #e8115b;
  }
  .content-14 {
    background: #ba5d07;
  }
  .content-15 {
    background: #1e3264;
  }
  
  .card-content {
    width: 20%;
    height: 170px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    padding: 20px 15px;
    border-radius: 10px;
  }
  
  .card-content img {
    position: absolute;
    width: 100px;
    height: 102px;
    bottom: 0;
    right: -21px;
    rotate: 21deg;
  }
  
  .log-btn {
    padding: 12px 25px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    border: none;
  }
  a {
    text-decoration: none;
    color: #ffffff;
    padding-right: 10px;
  }
  
  input {
    outline: none;
  }
  
  .card-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .Header-tab {
    margin-top: 10px;
  }
  .cardtitle {
    font-size: 25px;
    z-index: 999;
    padding-right: 5px;
  }
  
  .header-right a {
    color: white;
    text-decoration: none;
  }
  
  .signup-btn a {
    color: black;
    text-decoration: none;
  }
  