.signup-bar {
    grid-area: signup-bar;
    background: linear-gradient(90deg, #af2896, #509bf5);
    margin: 5px 10px 5px 10px;
    background: #000;
  }
  .signbar {
    padding: 11px 24px 7px 15px;
    height: 75px;
    z-index: 9999;
    background: linear-gradient(90deg, #af2896, #509bf5);
  }
  .signbar h3 {
    font-size: 14px;
    font-weight: 400;
    color: #ffff;
  }
  .signbar p {
    font-size: 16px;
    font-weight: 400;
    color: #ffff;
  }
  
  .signup-btn,
  .log-btn {
    padding: 12px 32px;
    background: #ffff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 50px;
    border: none;
  }